@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: Satoshi;
  --font-satoshi: Satoshi;
  --font-inter: Inter;
  --font-sans: Inter;
}

html,
body,
#root {
  font-family: Inter, system-ui, sans-serif;
}

* {
  font-family: inherit;
}
